#lineaInferior{
    margin-top:-2rem;
    height: 3rem;
    background-color: #004d40;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-top-color: #fdd835;
    border-style: solid;
    border-left-color: #004d40;
    border-right-color: #004d40;
    border-bottom-color: #004d00;
}

#volver{
    width: 100px;
    background-color: red;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#siguiente{
    width: 100px;
    background-color: #004d40;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
span{
    font-weight: bolder;
}
select{
    max-width: max-content;
}

.col-md-4{
    margin-left: 30rem;
    margin-bottom: 2rem;
}