<main>
    <div class="row" id="lineaInferior">
      <div class="col-xl-2"></div>
        <div class="col-xl-8">
        <h3>Administrador-Alta Vehículo</h3>
      </div>
    </div>
    <h3>Plan Preventivo</h3>
    <br>
    <form>
      <div class="container overflow-hidden text-center">
        <div class="row gx-5">
          <div class="input-group col-md-4">
          <span class="input-group-text">Condiciones de Uso:</span>
          <select class="form-select align-content-lg-start" aria-label="condicionesUso">
            <option selected></option>
            <option value="1">Normales</option>
            <option value="2">Severas</option>
          </select>
        </div></div>
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-light">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Acción</th>
                  <th scope="col">Kilómetros</th>
                  <th scope="col">Meses</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Líquido de frenos</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Operaciones Sistemáticas</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Filtro de Aire</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Filtro de Aire Habitáculo</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Filtro Combustible</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Filtro Antipolen</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Correa de Distribución</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Kit de Distribución</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
              </tbody>
            </table>  
           </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
                <table class="table">
              <thead>
                <tr>
                  <th scope="col">Acción</th>
                  <th scope="col">Kilómetros</th>
                  <th scope="col">Meses</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Reglaje Proyectores</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Ph Liquido Refrigeración</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Líquido Refrigeración</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Correa Arrastre Accesorios</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Kit Correa Arrastre Accesorios</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Anticongelante</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Aceite Transmisión</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
                <tr>
                  <th scope="row">Bujías Encendido</th>
                  <td>
                    <input type="number" class="form-control" aria-describedby="number"></td>
                  <td><input type="number" class="form-control" aria-describedby="number"></td>
                </tr>
              </tbody>
            </table>  
                </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a routerLink="/datosIdentificativosForm"><button class="btn btn-primary" type="button" id="volver">Volver</button></a>
        <a routerLink="/"><button class="btn btn-primary" type="button" id="siguiente">Finalizar</button></a>
      </div>
      </form>
      <br>
      <br><br>
    </main>
