<main class="container-fluid">
    <div class="row" id="lineaInferior">
       <div class="col-xl-2"></div>
        <div class="col-xl-8">
        <h3>Usuario</h3>
      </div>
  </div>
<div class="container overflow-hidden text-center">
    <div class="row gx-sm-5">
      <div class="col">
       <div class="p-3 border bg-light">
        <form action="">
          <div class="header">
            CONSULTA
            <hr>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Introduzca Matrícula</label>
            <input type="text" class="form-control" id="matricula" placeholder="PGC-XXXX-A">
          </div>
          <div class="row">
            <div class="col-6">
          <a class="nav-link" routerLink="/vehiculo-consulta"><button type="submit" class="btn btn-primary">Consultar</button></a></div>
          <div class="col-6">
          <a class="nav-link" routerLink="/"><button type="submit" class="btn btn-danger">Cancelar</button></a></div>
        </div>
      </form>
       </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
    
  
  
  </main>
