#lineaInferior{
    margin-top:-2rem;
    height: 3rem;
    background-color: #004d40;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-top-color: #fdd835;
    border-style: solid;
    border-left-color: #004d40;
    border-right-color: #004d40;
    border-bottom-color: #004d00;
}

input,select{
   max-width:max-content; 
}

form{
    margin-top:3rem;   
}

#volver{
    width: 100px;
    background-color: red;
}

#siguiente{
    width: 100px;
    background-color: #004d40;
}
div.gap-2{
    margin-top:2rem;
    margin-right: 2rem;
}

#lupa{
    padding: 2rem;
}