header {   
   color: #fdd835;
    background-color: #292b3a;
    height: 6rem;
    width: 100%;
    
}

#titulo{
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
}

#columnaLogo{
    margin-top: 1rem;
}

#logoGC{
    height: 75px;
    width: 50px;
}

#sesion{
    margin-top: 2rem;
}

#lineaInferior{
    margin-top: 4px;
    height: 3rem;
    background-color: #004d40;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-top-color: #fdd835;
    border-style: solid;
    border-left-color: #004d40;
    border-right-color: #004d40;
    border-bottom-color: #004d00;
}

#enlaceHome{
    color:#fdd835;
}