<header class="responsive">
	<div class="container-fluid">
		<div class="row">
		  <div class="col-xl-3 container align-text-bottom" id="columnaLogo">
			<img id="logoGC" src="\assets\imagenes\emblemagcnuevo.png">
			GUARDIA CIVIL
		  </div>
		  <div class="col-xl-6 container text-center" ><span id="titulo">
			LEVO </span>
			<div class="row">
				<span>-Libro Electrónico del Vehículo Oficial-</span>
			</div>
		  </div>
		  <div class="col-xl-3" id="sesion">
			<a routerLink="" id="enlaceHome"><fa-icon [icon]="inicio"></fa-icon></a>
			Inicio
		  </div>
		</div>
		<!--div class="row" id="lineaInferior">
	    	<div class="col-xl-3">
			</div>
		</div-->
	</div>
	
</header>