<div class="row mb-2">
    <hr class='w-100'>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{vehiculo.matricula}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{vehiculo.tipoVehiculo}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{vehiculo.unidadDestino}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{vehiculo.fechaAdjudicacion}}</div>
    <div class="col-sm-3">
      <a>
        <fa-icon [icon]="lupa" class="fa-2x" (click)="consultarVehiculo()"></fa-icon>
        &nbsp;
      </a>
      <a>
         <fa-icon [icon]="trash" class="fa-2x" (click)="borrarVehiculo()"></fa-icon>
         &nbsp;
       </a>
       <a>
        <fa-icon [icon]="pencil" class="fa-2x" (click)="editarVehiculo()"></fa-icon>&nbsp;
       </a>
     </div>    
</div>